*{margin:0;padding:0;box-sizing:border-box;font-family:Inter;}

body{
  background:#f5f6fa;
  padding:30px;
  transition:0.3s;
}

body.dark{
  background:#18181b;
  color:rgb(87, 87, 87);
}

.app{max-width:1200px;margin:auto;}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.task-form{
  display:flex;
  gap:10px;
  margin:20px 0;
}

.task-form input,
.task-form select{
  padding:8px;
  border-radius:6px;
  border:1px solid #ddd;
}

.task-form button{
  background:#4f46e5;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.board{
  display:flex;
  gap:20px;
}

.column{
  flex:1;
  background:#e2e4e6;
  padding:15px;
  border-radius:8px;
  min-height:300px;
}

.task{
  background:white;
  padding:10px;
  margin-bottom:10px;
  border-radius:6px;
  cursor:grab;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  transition:0.3s;
  animation:fadeIn 0.3s ease;
}

.task:hover{
  transform:scale(1.03);
}

.task.high{border-left:4px solid red;}
.task.medium{border-left:4px solid orange;}
.task.low{border-left:4px solid green;}

.task small{
  display:block;
  margin-top:5px;
  font-size:12px;
  color:#666;
}

.fade-out{
  opacity:0;
  transform:translateX(100px);
  height:0;
  margin:0;
  padding:0;
  transition:all 0.4s ease;
}

.progress-wrapper{
  position:relative;
  width:120px;
  margin:auto;
}

#progressText{
  position:absolute;
  top:45%;
  left:38%;
  font-weight:bold;
}

@keyframes fadeIn{
  from{opacity:0;transform:translateY(10px);}
  to{opacity:1;transform:translateY(0);}
}

@media(max-width:768px){
  .board{flex-direction:column;}
  .task-form{flex-direction:column;}
}
